<!DOCTYPE html>
<html>
<head>
	<title>Register Here</title>
	<%include head%>

<script type="text/javascript">
  var webAuth = new auth0.WebAuth({
    domain: 'smdigitalcrafts.auth0.com',
    clientID: 'Ra_Fi5ZaAbpyRZDRD7x2fLeIaVAWgo0I'
  });




</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/registerstyles.css">



</head>
<body>
	<div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                    <h1>CHANGE PERSONAL INFO</h1>

                <div class="col-sm-12 text-danger error"></div>
                <form action="/profileNew" method="post">
                   <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name" value="<%=user.name%>">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" value="<%=user.email%>" readonly="readonly">
                        <label for="address">Street Address:</label>
                        <input type="text" class="form-control" name="address" value="<%=user.address%>">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" name="city" value="<%=user.city%>">
                        <label for="state">State:</label>
                        <input type="text" class="form-control" name="state" value="<%=user.state%>">
                        <label for="zip">Zipcode:</label>
                        <input type="text" class="form-control" name="zip" value="<%=user.zip%>">
                        <label for="phone">Phone Number:</label>
                        <input type="text" class="form-control" name="phone" value="<%=user.phone%>">
                        <br>
                        <label for="insurance">Insurance Provider:</label>
<!--                         <input type="text" class="form-control" name="insurance">
 -->                        <!-- <div align="center"> -->
							<select name="insurance" value="<%=user.insurance%>">
                            <option value="<%=user.insurance%>"><%=user.insurance%></option>
							<option value="Aetna">Aetna</option>
							<option value="Cigna">Cigna</option>
							<option value="BlueCross">Blue Cross</option>
							<option value="IBC_Amerihealth">IBC Amerihealth</option>
							<option value="Healthnet">Healthnet</option>
							<option value="United_Healthcare">United Healthcare</option>
                            <option value="Humana">Humana</option>
                            <option value="Medicaid">Medicaid</option>
                            <option value="Medicare">Medicare</option>
							</select>
							<!-- </div>   -->        
							<br>
							<br>
							<br>             

<!--                             <form action="/profileNew" method="post">
 -->                       <button class="btn btn-primary" type="submit">Submit changes!<button>
<!--                             </form>
 -->                            <br>
                           <br>
<!--                             <form action="/loginProcess" method="post">
 -->                        <button class="btn btn-danger">Cancel </button>
<!--                             </form>
 -->                        <br>
                        <br>
                        
                
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>